<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GetItHomeNow </title>
  <base href="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="http://3.21.83.36:8081/mainLogo%20copy.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
  <style>
    /* headings */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 100%;
      font-weight: normal;
      text-transform: capitalize;
      color: #555;
      padding: 0 0 10px 0;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 24px;
    }

    h5 {
      font-size: 20px;
    }

    h6 {
      font-size: 18px;
    }

    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      background: #f7f7ff;
    }

    .backlayer {
      background: url("http://3.21.83.36:8081/mainBackGround.png") no-repeat;
      height: 100%;
      background-size: cover;
      position: relative;
    }

    /* .backlayer:after {
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-image: url("pattern.png");
        } */

    .backlayer .card {
      z-index: 1;
      width: 70%;
      margin: 0 auto;
      background: transparent;
      border: none;
    }

    .backlayer .card .card-body {
      background: transparent;
    }

    .backlayer .card .logoIMage {
      width: 150px;
      height: 150px;
      /* background: url("mainLogo.png"); */
    }

    .backlayer .card .logoIMage .image {
      width: 100%;
      height: 100%;
    }

    .form-outer {
      padding: 20px 0;
      width: 30%;
      padding: 20px;
      margin: 0 auto;
      background: #00000057;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);
      border-radius: 4px;
      box-shadow: 0px 0px 10px 4px #ffffff91;
    }

    .form-outer h1 {
      color: #fff;
    }

    .form-outer .form-element {
      margin-bottom: 25px;
      display: block;
    }

    .form-outer .col-12 {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    .form-outer .col-12 .form-element {
      width: 48%;
    }

    .form-outer .form-element.submit-btn {
      width: 100%;
      margin-bottom: 0;
    }

    .form-outer .form-element label {
      font-size: 14px;
      margin-bottom: 4px;
      text-align: left;
      display: block;
      color: #fff;
    }

    .form-outer .form-element input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px 15px;
    }

    .form-outer .form-element .submit-btn {
      background: #e92330;
      border-radius: 4px;
      text-align: center;
      padding: 12px 10px;
      min-width: 80%;
      display: inline-block;
      color: #fff;
      margin-top: 15px;
      text-decoration: none;
      transition: 0.3s all;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .form-outer .form-element .submit-btn:hover {
      background: #fff;
      transition: 0.3s all;
    }

    ::placeholder {
      color: #707070;
    }

    /* .section-title {
            color: #000;
            font-size: 25px;
            font-weight: 900;
            text-transform: capitalize;
            text-align: center;
            margin: 15px;
            line-height: 0.7;
        } */

    .imagediv {
      text-align: center;
      width: 207px;
      height: 134px;
      border-radius: 50%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0
    }

    .imagediv img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      padding: 16px;
      padding-top: 24px;
    }

    .textdiv {
      border: 2px solid#d6504f;
      width: 90%;
      margin: auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      border-radius: 15px;
      padding-top: 78px;
      background: #fff;
    }

    /* @media (max-width: 1279px) {} */

    @media (max-width: 991px) {
      .imagediv {
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .form-outer .form-element {
        margin-bottom: 10px;
      }

      .form-outer {
        width: 60%;
        transform: translate(-50%, -50%);
      }
    }

    @media (max-width: 767px) {
      .form-outer {
        padding: 20px 0;
        width: 60%;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .imagediv {
        top: 94px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media (max-width: 576px) {
      .form-outer {
        padding: 20px 0;
        width: 80%;
        padding: 20px;
        transform: translate(-50%, -50%);
      }

      .imagediv {
        top: 94px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .form-outer .form-element {
        margin-bottom: 3px;
      }

      .form-outer h1 {
        color: #fff;
        font-size: 20px;
      }
    }
  </style>

</head>

<body class="mat-typography">

  <div class="backlayer">
    <form class="form-signin mt-5" method="POST">
      <div class="imagediv">
        <img src="http://3.21.83.36:8081/mainLogo%20copy.png" alt="">
      </div>

      <div class="form-outer">
        <h1>Change Password</h1>

        <%let classU="alert-success"%> <% if(typeof message!=='undefined' &&
              message.length>0 ){%> <%if(String(message).indexOf("confirm") > -1 || String(message).indexOf("8") > -1){ classU
              ="alert-danger" }%>

        <div class="alert <%= classU %> alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong><%= message %></strong>
        </div>
        <%}%>
      <div class="form-element">
        <label for="title">New Password</label>
        <input type="password"
          class="form-control"
          placeholder="New password"
          required=""
          autofocus=""
          name="password" />
      </div>
      
      <div class="form-element">
        <label for="confirm_password">Confirm Password</label>
        <input  type="password"
          class="form-control"
          placeholder="Confirm password"
          required=""
          name="confirmpassword" />
      </div>
  <button class="btn btn-success btn-block" type="submit">Change Password</button>
      <!-- <div class="form-element submit-btn" style="text-align: center;">
        <a class="submit-btn" href="">Change Password</a>
      </div> -->
    </div>

  <!-- <button class="btn btn-success btn-block" type="submit">Change Password</button> -->
  </form>
  </div>
</body>

</html>